@font-face {
    font-family: "BarlowBlack";
    src: url("fonts/Barlow-Black.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BarlowBlackItalic";
    src: url("fonts/Barlow-BlackItalic.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BarlowBold";
    src: url("fonts/Barlow-Bold.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BarlowBoldItalic";
    src: url("fonts/Barlow-BoldItalic.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BarlowExtraBold";
    src: url("fonts/Barlow-ExtraBold.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BarlowExtraBoldItalic";
    src: url("fonts/Barlow-ExtraBoldItalic.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BarlowExtraLight";
    src: url("fonts/Barlow-ExtraLight.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BarlowExtraLightItalic";
    src: url("fonts/Barlow-ExtraLightItalic.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BarlowItalic";
    src: url("fonts/Barlow-Italic.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BarlowLight";
    src: url("fonts/Barlow-Light.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BarlowLightItalic";
    src: url("fonts/Barlow-LightItalic.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BarlowMedium";
    src: url("fonts/Barlow-Medium.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BarlowMediumItalic";
    src: url("fonts/Barlow-MediumItalic.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BarlowRegular";
    src: url("fonts/Barlow-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BarlowSemiBold";
    src: url("fonts/Barlow-SemiBold.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BarlowSemiBoldItalic";
    src: url("fonts/Barlow-SemiBoldItalic.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BarlowThin";
    src: url("fonts/Barlow-Thin.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BarlowThinItalic";
    src: url("fonts/Barlow-ThinItalic.ttf");
    font-weight: normal;
    font-style: normal;
}